<h1>Dice Roll</h1>

<form action = "/process_roll">
  <label for="dice">Number of dice to roll?</label>
  <input id="dice" type="text" name="dice">
  
  <label for="side">How many sides per die? </label>
  <input id="side" type="text" name="sides">
  

  <button>Roll!</button>

</form>
