<form action = "https://internationalaffairs.uchicago.edu/resources/taxes-ssn-and-itin/social-security-number?zebra=hello">
  How many dice?
  <input type="text" name="zebra">
  
  How many sides?

  <button>Go</button>

</form>
